@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.main_container {
  margin: auto;
  position: relative;
  background-color:#00020100;

  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll  ;
}
.background__gap {
  flex-grow: 0.15;
  z-index: -1;
  min-height: 140px;
}
.background_color_gradient_image{
  border-radius: 25px 25px 0 0;
  background-size: cover;
  flex-grow: 0.85;
  height: calc(100vh-75px);
  /* background-image: var(--fill-gradinet-3, linear-gradient(135deg, #170B47 0%, #070518 100%)); */
  background-image: url(../../assets/images/colorsgradscreen.svg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
.background_gradient {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #;
  background-image: var(--fill-gradinet-3, linear-gradient(135deg, #170B47 0%, #070518 100%));
  border-radius: 60px 60px 0 0;
  background-size: cover;
  z-index: -2;
}
.background_shadow {
  position: absolute;
  top: -1.8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: var(--fill-gradinet-3, linear-gradient(135deg, #170B47 0%, #070518 100%));
  border-radius: 60px 60px 0 0;
  background-size: cover;
  opacity: 0.55;
  z-index: -3;
}
img.logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}







h2, p {
  padding-top: 44px;
  color: aqua;
}

