.title{
    color: #fff;
    margin-top: 44px;
    padding-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.text-center{
    text-align: center;
}

@media screen and (min-width: 768px) {
    .button_large_screen {
            display: flex;
            justify-content: center;
            margin: 20px;
    }
}