.main{
    width: 85%;
    text-align: center;
    margin: auto;
}
.main img{
    margin-left: 12px ;
}
.input_type{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #d1d0d020;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.input_type input[type="text"]{
    justify-self: left;
    background: none;
    border: none;
    margin-left: 10px;
    width: 80%;
    color: #fff;
    font-size: 16px;
    padding-left: 10px; 
}
.input_type input[type="submit"]{
    background: none;
    border: none;
    color: #0f0f0f;
    font-size: 16px;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
}
.input_type input:focus {
    border: none;
  }
.input_type input[type="text"]::placeholder {
color: #FFFFFF;
font-weight: 500;
font-family: 'Inter', sans-serif;
}
.input_type input[type="text"]:focus {
outline: none;
border-color: transparent;
color: #FFFFFF;
}
.input_type input[type="submit"]::placeholder {
color: #000;
font-weight: 800;
font-family: 'Inter', sans-serif;
}
.error-message {
    color: red;
    padding: 0px 0 8px 0;
}


@media screen and (min-width: 768px) {
    .main{
        width: 350px;
    }

}



