  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff75;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff75;
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  .separator span{
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: 850px) {
    .separator {
      width: 730px;
    }

  }

