.separator {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20 px;
  }
  
  .separator .line {
    height: 1px;
    flex: 1;
    background-color: #ffffff30;
  }
  
  .separator p {
    padding: 0 16px;
    color: #ababab;
  }

  .hr_text{
    color: azure;
  }
  
  .hr_line_left{
    float: left;
      width: 44%;
  }
  .hr_line_left {
    float: right;
    width: 44%;
  }
  .horizontal_line {
    display: flex;
    flex-direction: row;
  }
  
  .horizontal_line:before,
  .horizontal_line:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #fff;
    margin: auto;
  }