.signup_button{
    width: 85%;
    padding: 15px 20px 15px 20px;
    border-style: solid;
    border-width: 0.5px;
    /* border-image-slice: 1; */
    /* border-image-source: linear-gradient(to right bottom, #007bff, #5de1a8, #ff8b00);
    background: #ffffff00; */
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border: 0.5px solid #fff;
    background: linear-gradient(135deg, #170B47 0%, #080332 100%) padding-box,
      linear-gradient(65deg, #00e1ff,#0d5700,#ff8400) border-box;
    border: 0.5px solid transparent;
    @media (min-width:768px) {
      margin: 20px;
    }

  }
  .button_text{
    color: #fff;
    padding-left: 30px;
  }

  .col_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col_1{
    width: 10%;
  }
  .col_11{
    width: 90%;

  }

  @media (min-width: 768px) {
    .signup_button {
      width: 350px
    }
    
  }  